table, th, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
}
table {
    border-spacing: 10px;
}
table {
    width: 100%;
}
th {
    height: 40px;
}
table {
    width: 300px;
    table-layout: fixed;
}
th {
    text-align: left;
}
th {
    height: 40px;
    vertical-align: bottom;
}
caption {
    caption-side: bottom;
}
table {
    border-collapse: separate;
    empty-cells: hide;
}
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}